{% extends 'AcmeHelloBundle::layout.html.twig' %}

{% block title %}Verify Content - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Verify Fetched Content <small>{{ article_title }}</small></h1>
        <p>Please take a moment to verify that this is the correct article content. If not, you may return to the <a href="{{ path('fetch') }}">fetch form</a>. For your convenience, the categories to which this article already belongs have been extracted and listed in the <a href="#{{ form.categories.vars.id }}">categories field</a> below.</p>
        {% include 'AcmeHelloBundle:Default:_inputForm.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/jquery-autosize/jquery.autosize.min.js') }}"></script>
    <script>
        (function ($) {
            $(function () {
                $('textarea').autosize();
            });
        })(jQuery);
    </script>
{% endblock %}
