{% extends '::base.html.twig' %}

{% set title = 'Wikipedia Categorizer' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/bmnwikicategorizerfrontend/css/layout.css') }}"/>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a href="{{ path('homepage') }}" class="navbar-brand">{{ title }}</a>
    </nav>

    <div class="container">
        {% for type in ['success', 'info', 'warning', 'danger'] %}
            {% for message in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-dismissable">
                    <button class="close" type="button" data-dismiss="alert" aria-hiden="true">&times;</button>
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
