{% extends 'BMNWikiCategorizerFrontendBundle::layout.html.twig' %}

{% block title %}Fetch Existing Article - {{ parent() }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Fetch Existing Article</h1>
        <p class="lead">
            Enter the title of the existing Wikipedia article content you wish to fetch, and the form will be populated for you.
        </p>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group input-group input-group-lg{% if form.title.vars.errors|length > 0 %} has-error{% endif %}">
                {{ form_label(form.title, 'Article Title', {'label_attr': {'class': 'input-group-addon'}}) }}
                {{ form_widget(form.title, {'attr': {'placeholder': placeholder, 'autofocus': 'autofocus'}}) }}
            </div>
            {{ form_errors(form.title) }}
        </div>
        <div class="col-sm-2 text-right">{{ form_widget(form.fetch, {'label': 'Fetch!', 'attr': {'class': 'btn btn-primary btn-lg'}}) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}
