{% extends 'BMNWikiCategorizerFrontendBundle::layout.html.twig' %}

{% block title %}Results - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Results</h1>
    <p class="text-muted">{{ article|truncate(700) }}</p>
    <h2>Category Suggestions</h2>
    <ol id="categories">
        {% for category in categories %}
            <li data-confidence="{{ category.confidence }}">
                {{ category }}
                {% if category.assigned %}
                    <i class="glyphicon glyphicon-ok" style="color:green;"></i>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/d3/d3.min.js') }}"></script>
    <script>
    (function () {
        var colorScale = d3.scale.linear()
            .domain([{{ (categories|last).confidence }}, {{ ((categories|first).confidence + (categories|last).confidence) / 2 }}, {{ (categories|first).confidence }}])
            .range(['#800', '#cc0', '#06f']);

        var categories = d3.selectAll('#categories li')
            .style('color', function () { return colorScale(this.dataset.confidence); });
    })()
    </script>
{% endblock %}
